<div class="tab">
    <div class= "center">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <button class="tablinks nav-link" onclick="openCity(event, 'Starter')">Starter</button>
            <button class="tablinks nav-link" onclick="openCity(event, 'Main')">Main</button>
            <button class="tablinks nav-link" onclick="openCity(event, 'Dessert')">Desserts</button>
            <button class="tablinks nav-link" onclick="openCity(event, 'Side')">Sides</button>
            <button class="tablinks nav-link" onclick="openCity(event, 'Drinks')">Drinks</button>
        </ul>
    </div>
</div>

<div id="Starter" class="tabcontent">
    <div class="container">
        <section class="menu" id="menu">
            <div class="box-container">
                {% for dish in starter%}
                <div class="box">
                    <div class="image">
                        <img src="/static/picture/{{ dish['dishPic'] }}" class="dishPic">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                    <div class="content">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h3>{{dish['name']}}</h3>
                        <p>{{dish['cost']}}</p>
                        <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Dish Information</a></p>
                        <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">Add to cart</a></p>
                        <span class="price">€{{dish['cost']}}</span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
    </div>
</div>

<div id="Main" class="tabcontent">
    <div class="container">
        <section class="menu" id="menu">
            <div class="box-container">
                {% for dish in mainCourse%}
                <div class="box">
                    <div class="image">
                        <img src="/static/picture/{{dish['dishPic']}}" class="dishPic">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                    <div class="content">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h3>{{dish['name']}}</h3>
                        <p>{{dish['cost']}}</p>
                        <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Dish Information</a></p>
                        <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">Add to cart</a></p>
                        <span class="price">€{{dish['cost']}}</span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
    </div>
</div>

<div id="Side" class="tabcontent">
    <div class="container">
        <section class="menu" id="menu">
            <div class="box-container">
                {% for dish in side%}
                <div class="box">
                    <div class="image">
                        <img src="/static/picture/{{dish['dishPic']}}" class="dishPic">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                    <div class="content">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h3>{{dish['name']}}</h3>
                        <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Dish Information</a></p>
                        <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">Add to cart</a></p>
                        <span class="price">€{{dish['cost']}}</span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
    </div>
</div>


<div id="Dessert" class="tabcontent">
    <div class="container">
        <section class="menu" id="menu">
            <div class="box-container">
                {% for dish in dessert %}
                <div class="box">
                    <div class="image">
                        <img src="/static/picture/{{dish['dishPic']}}" class="dishPic">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                    <div class="content">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h3>{{dish['name']}}</h3>
                        <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Dish Information</a></p>
                        <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">Add to cart</a></p>
                        <span class="price">€{{dish['cost']}}</span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
    </div>
</div>

<script> 
    function openCity(evt, cityName) {
      // Declare all variables
      var i, tabcontent, tablinks;
    
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
    
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
    
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>