{% extends "layouts/base.html" %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Enter your details to reset your password</h5>
                                    </div>
                                    <div class="card-block">
                                            <form action="" method="post" novalidate> 
                                                <div class="row">
                                                {{ form.hidden_tag() }}
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        {{ form.email.label }}
                                                        {{ form.email(class="form-control", placeholder="Enter your email address") }}
                                                        {% for error in form.email.errors %}
                                                            <p class="text-c-red"> {{ error }} </p>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        {{ form.role.label }}
                                                        {{ form.role() }}
                                                        {% for error in form.role.errors %}
                                                            <p class="text-c-red"> {{ error }} </p>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        {{ form.submit( class="btn btn-outline-success") }}
                                                    </div>
                                                </div> 
                                            </div>
                                        </form>       
                                    </div>
                                    <div>
                                        {% with messages = get_flashed_messages() %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <p> {{ message }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}