{% extends "base.html" %}

{% block main_content %}
    <h1> Forgot your password? </h1>
    <p> Sucks to be you <br> Enter in your details </p>
    <form action="" method="post" novalidate> 
        {{ form.hidden_tag() }}
        {{ form.email.label }}
        {{ form.email(class="text") }}
        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.role.label }}
        {{ form.role(class="text") }}
        {% for error in form.role.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.submit(class="submit") }}
    </form>
{% endblock %}