{% extends "base.html" %}

{% block title %}
    <title>Roster Timetable</title>
{% endblock %}

{% block main_content %}
    <h1>Roster Timetable</h1>
    <p><a href="{{ url_for('roster_timetable') }}">View Roster</a></p>
    <p><a href="{{ url_for('delete_from_roster') }}">Delete From Roster</a></p>

    <table>
        <tr>
            <th scope="col">Staff ID</th>
            <th scope="col">Name</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
        </tr>
        {% for staff in roster %}
        <tr>
            <th scope="row">{{ staff[0] }}</th>
            <td scope="row">{{ staff[10] }}</td>
            
            {% for i in range(7) %}
                <td>
                    {{ staff[i+1] }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h2>Add Shift to Roster<h2>
    <form action="" method="post" novalidate> 
        {{ form.hidden_tag() }}

        {{ form.staff_id.label }}
        {{ form.staff_id() }}
        {% for error in form.staff_id.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.day.label }}
        {{ form.day() }}
        {% for error in form.day.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.time.label }}
        {{ form.time() }}
        {% for error in form.time.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.submit(class="submit") }}
    </form>

{% endblock %}
