{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <h4 class="col-xl-12">Data Analytics</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Daily Gross Profit (accumulative)</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                                        €{{ daily_profit }} </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Monthly Gross Profit</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    {% if monthly_turnover < 0 %}
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                        class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>€
                                                        {{ monthly_profit }}</h3>
                                                    {% else %}
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                        class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>€
                                                        {{ monthly_profit }}</h3>
                                                    {% endif %}
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ monthly_turnover }}%</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Yearly Gross Profit</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    {% if yearly_turnover < 0 %}
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                        class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>€
                                                        {{ yearly_profit }}</h3>
                                                    {% else %}
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                        class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>€
                                                        {{ yearly_profit }}</h3>
                                                    {% endif %}
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ yearly_turnover }}%</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Daily Users</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                                                        {{ user_analytics["daily_users"] }}</h3>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">New users</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                                                        {{ user_analytics["new_daily_users"] }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Pending Customer Queries</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"> {{ query_count['count(*)'] }} new requests</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="col-xl-12">Recent Roster Requests</h4>
                                <div class="col-xl-12">
                                    <hr>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active show" id="profile-tab" data-toggle="tab"
                                                href="#profile" role="tab" aria-controls="profile" aria-selected="true">
                                                Pending</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                                aria-controls="home" aria-selected="false">Approved</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                                                role="tab" aria-controls="contact" aria-selected="false">Rejected</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            {% if approved_requests %}
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Employee</th>
                                                        <th>Message</th>
                                                        <th>Received</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for req in approved_requests %}
                                                    <tr>
                                                        <td>
                                                            {{ req["employee_name"] }}
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{ req["message"] }}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{ req["date_received"] }}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0 text-c-green">{{ req["status"] }}</h6>
                                                        </td>
                                                        <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tr>
                                                </tbody>
                                            </table>
                                            {% else %}
                                                <p> No approved requests for now </p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-pane fade active show" id="profile" role="tabpanel"
                                                aria-labelledby="profile-tab">
                                                {% if pending_requests %}
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Employee</th>
                                                        <th>Message</th>
                                                        <th>Received</th>
                                                        <th>Status</th>
                                                        <th class="text-center"></th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for req in pending_requests %}
                                                    <tr>
                                                        <td> {{ req["employee_name"] }} </td>
                                                        <td>
                                                            <h6 class="m-0">{{ req["message"] }}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{ req["date_received"] }}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0 text-c-purple">{{ req["status"] }}</h6>
                                                        </td>
                                                        <td><a href="{{ url_for('roster_reject', id=req['request_id']) }}"
                                                                class="label theme-bg2 text-white f-12">Reject</a>

                                                            <a href="{{ url_for('roster_approve', id=req['request_id']) }}"
                                                                class="label theme-bg text-white f-12">Approve</a>
                                                        </td>
                                                        <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tr>
                                                </tbody>
                                            </table>
                                            {% else %}
                                                <p> No requests for now </p>
                                            {% endif %}
                                        </div>
                                        <div class="tab-pane fade" id="contact" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                            {% if rejected_requests %}
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Employee</th>
                                                        <th>Employee Message</th>
                                                        <th>Received</th>
                                                        <th>Status</th>
                                                        <th>Reason For Rejection</th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for req in rejected_requests %}
                                                    <tr>
                                                        <td>
                                                            {{ req["employee_name"] }}
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{ req["message"] }}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{ req["date_received"] }}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0 text-c-red">{{ req["status"] }}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{ req["response"] }}</h6>
                                                        </td>
                                                        <td class="text-right">
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {% else %}
                                                <p> No rejected requests for now </p>
                                            {% endif %}
                                            </div>
                                        </div>

                                        <div>
                                            {% with messages = get_flashed_messages() %}
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <p> {{ message }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endwith %}
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

{% endblock content %} 

{% block javascripts %} {% endblock javascripts %}
