{% extends "layouts/base.html" %}

{% block title %} Roster Timetable {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Delete From Roster</h5>
                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Staff ID</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Monday</th>
                                                        <th scope="col">Tuesday</th>
                                                        <th scope="col">Wednesday</th>
                                                        <th scope="col">Thursday</th>
                                                        <th scope="col">Friday</th>
                                                        <th scope="col">Saturday</th>
                                                        <th scope="col">Sunday</th>
                                                    </tr>
                                                </thead>
                                                {% for staff in roster %}
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">{{ staff['staff_id'] }}</th>
                                                        <td scope="row">{{ staff['first_name'] }}</td>
                                                        <td>
                                                            <a href="{{ url_for('remove_roster_slot', staff_id=staff['staff_id'], day=0) }}">{{ staff['mon'] }}</a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('remove_roster_slot', staff_id=staff['staff_id'], day=1) }}">{{ staff['tue'] }}</a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('remove_roster_slot', staff_id=staff['staff_id'], day=2) }}">{{ staff['wed'] }}</a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('remove_roster_slot', staff_id=staff['staff_id'], day=3) }}">{{ staff['thu'] }}</a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('remove_roster_slot', staff_id=staff['staff_id'], day=4) }}">{{ staff['fri'] }}</a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('remove_roster_slot', staff_id=staff['staff_id'], day=5) }}">{{ staff['sat'] }}</a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ url_for('remove_roster_slot', staff_id=staff['staff_id'], day=6) }}">{{ staff['sun'] }}</a>
                                                        </td>
                                                        
                                                    </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 
