{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="flash">
                                            <div class="flash-blue">
                                            {% for message in messages %}
                                                <p> <b>{{ message }}</b> </p>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endwith %}
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Ingredients Masterlist</h5>
                                    </div>
                                    
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            {% if inventory %}
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Quantity</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                {% for item in inventory %}
                                                <tbody>
                                                    <tr>
                                                        <td> {{ item ["name"] }} </td>
                                                        <td> {{ item ["quantity"] }} </td>
                                                        {% if item["status"] == "amber" %}
                                                            <td class="text-left"><i class="fas fa-circle text-c-amber f-15"></i> </td>
                                                        {% elif item["status"] == "green" %}
                                                            <td><i class="fas fa-circle text-c-green f-15"></i> </td>
                                                        {% else %}
                                                            <td><i class="fas fa-circle text-c-red f-15"></i> </td>
                                                        {% endif %}
                                                        <td><a href="{{ url_for('delete_ingredient', id=item['ingredient_id']) }}" class="text-c-red"> Delete </a></td>
                                                    </tr>
                                                </tbody>
                                                {% endfor %}

                                            {% else %}
                                            <p> No inventory data available </p>
                                            </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 