{% extends "base.html" %}

{% block main_content %}
    <h1> New Employee Registration </h1> 

    <form action="" method="post" novalidate> 
        {{ form.hidden_tag() }}
        {{ form.first_name.label }}
        {{ form.first_name(class="text") }}
        {% for error in form.first_name.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.last_name.label }}
        {{ form.last_name(class="text") }}
        {% for error in form.last_name.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.email.label }}
        {{ form.email(class="text") }}
        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.role.label }}
        {{ form.role(class="text") }}
        {% for error in form.role.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.access_level.label }}
        {{ form.access_level(class="text") }}
        {% for error in form.access_level.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.submit(class="submit") }}
    </form>

    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}