{% extends "layouts/base.html" %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Reject</h5>
                                    </div>
                                    <div class="card-block">

                                        <form action="" method="post" novalidate>
                                            <div class="col-sm-12 mb-4">
                                                <div class="form-group">
                                                    {{ form.hidden_tag() }}
                                                    {{ form.response.label }}
                                                    {{ form.response() }}
                                                    <span class="mb-0 text-muted">
                                                        <span class="text-danger">
                                                            {% for error in form.response.errors %}
                                                                    {{ error }}
                                                            {% endfor %}
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        {{ form.submit(class="btn btn-primary") }}
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            <div class="flash">
                                                <div class="flash-blue">
                                                {% for message in messages %}
                                                    <p> <b>{{ message }}</b> </p>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}