{% extends "layouts/base.html" %}

{% block title %} Cancel Booking {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<!--
    <p><a href="{{ url_for('roster_timetable') }}">View Roster</a></p>
    <p><a href="{{ url_for('add_to_roster_timetable') }}">Add Slot to Roster</a></p>
-->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Cancel Booking</h5>
                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Time</th>
                                                        <th scope="col">Duration</th>
                                                        <th scope="col">Table Number</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                {% for booking in bookings %}
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">{{ booking['date'] }}</th>
                                                        <td>{{ booking['time'] }}.00</td>
                                                        <td>2 hours</td>
                                                        <td>{{ booking['table_id'] }}</td>
                                                        <td>
                                                            <a class="btn btn-outline-danger" href="{{ url_for('cancel_booking', booking_id=booking['booking_id']) }}">Cancel</a>
                                                        </td>
                                                        
                                                    </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                            {% if bookings|length == 0 %}
                                                <p>You have no upcoming bookings.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 
