{% extends "layouts/base.html" %}
{% block content %}
    {% if cart %}

    <!-- [ basic-table ] start -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>Your Cart</h5>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Dish</th>
                                <th>Increase</th>
                                <th>Quantity</th>
                                <th>Decrease</th>
                                <th>Remove from cart</th>
                                <th>Price per dish</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dish_id in cart %}
                            <tr>
                                <td>{{ names[dish_id]}}</td>
                                <td><a href="{{url_for('inc_quantity',dish_id=dish_id) }}">+</a></td>
                                <td>{{ cart[dish_id] }}</td>
                                <td> <a href="{{url_for('dec_quantity', dish_id=dish_id) }}"> -</a></td>
                                <td><a href="{{url_for('delete_ingredient', dish_id=dish_id)}}">Remove</a></td>
                                <td>{{dish['cost']}}</td>
                                <!-- We do be a gobshite i can't believe it took me like 4 hours to figure out book_id = book_id wtf is wrong with me-->
                                </tr>
                                <tr>
                                <td>

                                <!-- [ stiped-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        {% for value in mods[dish_id]%}
                                                        <tr>
                                                            <td>{{value}}</td>
                                                            <td><a href="{{url_for('remove_specific',changes=value, dish_id=dish_id)}}">Remove</a></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ stiped-table ] end -->                             
                                </td>
                                
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ basic-table ] end -->

<!--[ daily sales section ] start-->
<div class="col-md-6 col-xl-4">
    <div class="card daily-sales">
        <div class="card-block">
            <h6 class="mb-4">Full Price</h6>
            <div class="row d-flex align-items-center">
                <div class="col-9">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">$
                        {{full}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card Monthly-sales">
        <div class="card-block">
            <h6 class="mb-4"><a href="{{url_for('checkout')}}">Checkout</a></h6>
            <div class="row d-flex align-items-center">
            </div>
        </div>
    </div>
</div>


<!--[ daily sales section ] end-->
        <p><a href="{{url_for('checkout')}}">Go to checkout</a></p>
        {% else %}
            <p>Your cart is empty!</p>
        {%endif%}
{% endblock%}