{% extends "layouts/base.html" %}
{% block content %}


    {% if cart %}

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>Your Cart</h5>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Dish</th>
                                <th>Details</th>
                                <th>Quantity</th>
                                <th>Price per dish</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dish_id in cart %}
                            {%for item in dishes%}
                            {%if dish_id ==item['dish_id']%}
                            <tr>
                                <td><img src="/static/picture/{{item['dishPic']}}" class="dishPic" alt="profile image"></td>
                                <td>{{ names[dish_id]}}</td>
                                <td>
                                    <ul style="list-style-type: none; ">
                                        {% for value in mods[dish_id]%}
                                        <li >{{value}} &emsp;  <span class="badge badge-secondary"><a href="{{url_for('remove_specific',changes=value, dish_id=dish_id)}}" id="exit">X</a></span> </li>
                                        {%endfor%}
                                    </ul>
                                </td>
                                <td><a href="{{url_for('add_default_meal', dish_id=dish_id)}}">+</a>  {{ cart[dish_id] }}   </td>
                                <td><b>€{{dish['cost']}}.00</b> &emsp;   </li> </td>
                                <td><span class="badge badge-secondary2"><a href="{{url_for('remove',dish_id=dish_id)}}" id="remove">X</a></span></td>
                            </tr>
                        {%endif%}
                        {%endfor%}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p><a href="{{url_for('clearCart')}}" style="float:right;" class="label theme-bg text-white f-12">Clear Cart</a></p>
        </div>
    </div>

    <div class="col-md-6 col-xl-4" style="float:right;">
        <div class="card Monthly-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-9" style="text-align:centre">
                        <h3 class="centre">Total </h3>
                    </div><b>€{{full}}.00 </b>
                </div>
                <div class="col-9">
                    <div>
                        <p class='centre'><a href="{{url_for('checkout')}}" class="label theme-bg text-white f-12">Checkout</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--[ daily sales section ] end-->
        {% else %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Your cart is empty!</h5>
                                        </div>
                                        <div class="card-block">
                                            
                                            <img src="static/picture/emptycart.jpg" class="centrePic">
                                            
                                            <h4 class="centre">You have no items in your cart. Browse our menu at</h4>
                                            <p class="centre"><a href="{{url_for('menu')}}" class="centre">Back to Menu</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        </div>
    <!-- [ Main Content ] end -->
        {%endif%}
{% endblock%}