{%extends 'base.html'%}
{% block main_content%}
<p>Hellorrrr?</p>
<section>
    <h2>Overview</h2>
    {% if image is not none%}
        <img src="{{url_for('static',filename=image)}}">
    {%else%}
        {{error}}
    {%endif%}
    <p><a href="{{url_for('user_pic')}}">Add/Change profile pic</a></p>
</section>
<section>
    <h2>Transactions</h2>
    <table>
        <tr>
            <td>Stuff</td>
        </tr>
        {%if transactions is not none %}
            {% for book in books%}
                {% for transaction in transactions %}
                {% if dish['dish_id']== transaction['dish_id']%}
                <tr>
                    <td>{{transaction['quantity']}}</td>
                    <td>{{transaction['cost']}}</td>
                    <td>{{transaction['date']}}</td>
                    <td>{{dish['name']}}</td>
                </tr>
            {%endif%}
            {% endfor%}
            {% endfor%}
        {%endif%}
    </table>
</section>
{% endblock%}