{% extends "layouts/base.html" %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="static/assets/css/menu.css">
{% endblock stylesheets %}


{% block content %}
<!-- header section starts -->



<div id="Dessert" class="tabcontent">
    <div class="container">
        <section class="menu" id="menu">
            <div class="box-container">
                {% for dish in dessert %}
                <div class="box">
                    <div class="image">
                        <img src="/static/picture/{{dish['dishPic']}}" class="dishPic">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                    <div class="content">
                        <div class="stars">
                            {% set full_stars = dish['avg_rating'] | int %}
                            {% set half_stars = dish['avg_rating'] % 1 == 0.5 %}
                            {% for i in range(full_stars) %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% if half_stars %}
                                <i class="fas fa-star-half-alt"></i>
                            {% endif %}
                            {% if dish['avg_rating'] == 0 %}
                                <p> No review yet </p>
                            {% endif %}
                        </div>
                        <h3>{{dish['name']}}</h3>
                        <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Dish Information</a></p>
                        <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">Add to cart</a></p>
                        <span class="price">€{{dish['cost']}}</span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
    </div>
</div>

<div id="Special" class="tabcontent">
    <div class="container">
        <section class="menu" id="menu">
            <div class="box-container">
                {% for dish in special%}
                <div class="box">
                    <div class="image">
                        <img src="/static/picture/{{ dish['dishPic'] }}" class="dishPic">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                    <div class="content">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <h3>{{dish['name']}}</h3>
                        <p>{{dish['cost']}}</p>
                        <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Dish Information</a></p>
                        <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">Add to cart</a></p>
                        <span class="price">€{{dish['cost']}}</span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </section>
    </div>
</div>
<!-- review section starts  -->

<div class="container">
    <section class="review" id="review">
        <h3 class="sub-heading"> customer's review </h3>
        <h1 class="heading"> what they say </h1>
        <div class="swiper review-slider">
            <div class="swiper-wrapper">
                
                
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <div class="user-info">
                            <h3>Anonymous User</h3>
                            <h6>Review for: Pineapple Pie</h>
                            <div class="stars">
                                {% set full_stars = 5 | int %}
                                {% for i in range(full_stars) %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <p>Very nice</p>
                </div>
                
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
</div>

</div>
</div>
<!-- review section ends -->

{% block javascripts %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="static/assets/js/menu.js"></script>
{% endblock javascripts %}

{% endblock content %}