{% extends "layouts/base.html" %}
{% block content %}
{% if dishes is not none%}

<Script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.2.6/swiper-bundle.min.js"  strategy="beforeInteractive" />
 </Script>
<script>
var swiper = new Swiper(".home-slider", {
  spaceBetween: 30,
  centeredSlides: true,
  autoplay: {
    delay: 7500,
    disableOnInteraction: false,
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  loop:true,
});
window.alert('help');
</script>

<div class="container">

    <section class="home" id="home">

        <div class="home-slider">
    
            <div class="swiper-wrapper">
    
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>spicy noodles</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="static/picture/20191220_192241.jpg" alt="">
                    </div>
                </div>
    
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>fried chicken</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="static/picture/20191220_192241.jpg" alt="">
                    </div>
                </div>
    
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dish</span>
                        <h3>hot pizza</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="static/picture/20191220_192241.jpg" alt="">
                    </div>
                </div>
    
            </div>
    
            <div class="swiper-pagination"></div>
    
        </div>
    
    </section>

</div>




<div class="pcoded-main-container" id="menu">

    
 
<!-- [ rating list ] end-->
<div class="tab" id="menuCont">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                aria-controls="home" aria-selected="false">Starters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active show" id="profile-tab" data-toggle="tab"
                href="#profile" role="tab" aria-controls="profile" aria-selected="true">Main Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                role="tab" aria-controls="contact" aria-selected="false">Side</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact2"
                role="tab" aria-controls="contact2" aria-selected="false">Dessert</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">

                    <section class="menu" id="menu">
                
                        <div class="box-container">
                            {% for dish in starter%}
                            <div class="box">
                                <div class="image">
                                    <img src="/static/picture/{{dish['dishPic']}}" class="dishPic">
                                    <a href="#" class="fas fa-heart"></a>
                                </div>
                                <div class="content">
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                    <h3>{{dish['name']}}</h3>
                                    <p>{{dish['cost']}}</p>
                                    <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Go to dish</a></p>
                                    <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">add to cart</a></p>
                                    <span class="price">€{{dish['cost']}}</span>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                
                    </section>
                </div>

        </div>
                <div class="tab-pane fade active show" id="profile" role="tabpanel"
                        aria-labelledby="profile-tab">
                        <div class="container">

                            <section class="menu" id="menu">
                        
                                <div class="box-container">
                                    {% for dish in mainCourse%}
                                    <div class="box">
                                        <div class="image">
                                            <img src="/static/picture/{{dish['dishPic']}}" class="dishPic">
                                            <a href="#" class="fas fa-heart"></a>
                                        </div>
                                        <div class="content">
                                            <div class="stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </div>
                                            <h3>{{dish['name']}}</h3>
                                            <p>{{dish['cost']}}</p>
                                            <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Go to dish</a></p>
                                            <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">add to cart</a></p>
                                            <span class="price">€{{dish['cost']}}</span>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                        
                            </section>
                        </div>

                 </div>
        <div class="tab-pane fade" id="contact" role="tabpanel"
                aria-labelledby="contact-tab">
                <div class="container">

                    <section class="menu" id="menu">
                
                        <div class="box-container">
                            {% for dish in side%}
                            <div class="box">
                                <div class="image">
                                    <img src="/static/picture/{{dish['dishPic']}}" class="dishPic">
                                    <a href="#" class="fas fa-heart"></a>
                                </div>
                                <div class="content">
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                    <h3>{{dish['name']}}</h3>
                                    <p><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Go to dish</a></p>
                                    <p><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">add to cart</a></p>
                                    <span class="price">€{{dish['cost']}}</span>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                
                    </section>
                </div>
        </div>
        <div class="tab-pane fade" id="contact2" role="tabpanel"
                aria-labelledby="contact-tab">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Go to info Page</th>
                            <th>Add to cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dish in dessert%}
                        <tr>
                            <td><img src="/static/picture/{{dish['dishPic']}}" class="dishPic"></td>
                            <td>{{dish['name']}}</td>
                            <td>{{dish['cost']}}</td>
                            <td><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Go to dish</a></td>
                            <td><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">add to cart</a></td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
        </div>






    </div>
</div>

</div>


</div>
</div>
</div>
</div>






 
    {%endif%}



{%endblock content%}