{% extends "layouts/base.html" %}
{% block content %}
{% if dishes is not none%}
<div class="dropdown drp-user">
    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon feather"></i>Leave a Review
    </a>
    <div class="dropdown-menu dropdown-menu-right profile-notification">
        <!-- 
        <div class="pro-head">
            
            <img src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
            <span>
                {{ transactions[0]['username'] }}  
            </span>
        </div>
    -->
        <ul class="pro-body">
            {% for transaction in transactions %}
                <li>
                    <a href="{{ url_for('review_dish', dish_id=transaction['dish_id']) }}" class="dropdown-item">
                        {% for dish in dishes %}
                            {% if dish['dish_id'] == transaction['dish_id'] %}
                                {{ dish['name'] }}
                            {% endif %}
                        {% endfor %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
    
        <!-- [ Hover-table ] start -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5>Hover Table</h5>
                    <span class="d-block m-t-5">use class <code>table-hover</code> inside table element</span>
                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Dish Name</th>
                                    <th>Cost</th>
                                    <th>Dish info</th>
                                    <th>Add to cart</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for dish in starter%}
                                <tr>
                                    <th scope="row">1</th>
                                    <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                                    <td>{{dish['name']}}</td>
                                    <td>{{dish['cost']}}</td>
                                    <td><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Go to dish</a></td>
                                    <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
                                </tr>
                            {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Hover-table ] end -->


    <h2>Starter</h2>
    {% if starter is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in starter%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5>Hover Table</h5>
                    <span class="d-block m-t-5">use class <code>table-hover</code> inside table element</span>
                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Hover-table ] end -->




    

    
    </table>
    {%endif%}
    <h2>Main Courses</h2>
    {% if mainCourse is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in mainCourse%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}
    <h2>Dessert</h2>
    {% if dessert is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in dessert%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}
    <h2>Sides</h2>
    {% if side is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in side%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}
    <h2>Drinks</h2>
    {% if drink is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in drink%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}

    {%endif%}


    <div class="dropdown">
        <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i
                class="icon feather icon-bell"></i></a>
        <div class="dropdown-menu dropdown-menu-right notification">
            <div class="noti-head">
                <h6 class="d-inline-block m-b-0">Notifications</h6>
                <div class="float-right">
                    <a href="javascript:" class="m-r-10">mark as read</a>
                    <a href="javascript:">clear all</a>
                </div>
            </div>
            <ul class="noti-body">
                <li class="n-title">
                    <p class="m-b-0">NEW</p>
                </li>
                <li class="notification">
                    <div class="media">
                        <img class="img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg"
                             alt="Generic placeholder image">
                        <div class="media-body">
                            <p><strong>John Doe</strong><span class="n-time text-muted"><i
                                    class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                            <p>New ticket Added</p>
                        </div>
                    </div>
                </li>
                <li class="n-title">
                    <p class="m-b-0">EARLIER</p>
                </li>
                <li class="notification">
                    <div class="media">
                        <img class="img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-2.jpg"
                             alt="Generic placeholder image">
                        <div class="media-body">
                            <p><strong>Joseph William</strong><span class="n-time text-muted"><i
                                    class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                            <p>Prchace New Theme and make payment</p>
                        </div>
                    </div>
                </li>
                <li class="notification">
                    <div class="media">
                        <img class="img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-3.jpg"
                             alt="Generic placeholder image">
                        <div class="media-body">
                            <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i
                                    class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                            <p>currently login</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="noti-footer">
                <a href="javascript:">show all</a>
            </div>
        </div>
    </div>

{%endblock%}