{% extends "layouts/base.html" %}
{% block content %}


  


<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div>


                    <div class="col-xl-8 col-md-12 m-b-30">
                        <div class="card">
                            <div class="card-block">
                                <div class="d-flex align-items-center justify-content-center flex-column">
                                    <div class="w-50 p-3">
                                        <img src="/static/picture/{{dish['dishPic']}}" alt="profile image"
                                            class="img-fluid rounded-circle">
                                    </div>
                                </div>
                
                                <div class="small font-weight-light mt-4 text-center text-muted">
                                    <h4 class="font-weight-bold h6">
                                        {{dish['name']}}
                                    </h4>
                                    <p>
                                        {{dish['description']}}
                                        <br />
                                    </p>
                                    <p>
                                        <b style="font-weight: bold; color:black">Allergies {{dish['allergies']}}</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
<!-- [ rating list ] end-->
<div class="col-xl-8 col-md-12 m-b-30">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab"
                aria-controls="home" aria-selected="false">Dish Modification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab"
                href="#profile" role="tab" aria-controls="profile" aria-selected="true">View Reviews</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                <thead>
                
                    <tr>
                        <th>Ingredient</th>
                        <th>Increase quantitiy</th>
                        <th>quantitiy</th>
                        <th>Decrease Quantity</th>
                    </tr> 
                    </thead>
                    <tbody>
                    {%for ingredient in result%}
                    <tr>
                        <td>{{ingredient['name']}}</td>
                        <td><a href="{{url_for('inc_quantity_ingredient',ingredient_id=ingredient['ingredient_id'],dish_id=dish['dish_id']) }}">+</a></td>
                        <td>{{quant[ingredient['ingredient_id']]}}</td>
                        <td><a href="{{url_for('dec_quantity_ingredient',ingredient_id=ingredient['ingredient_id']) }}">-</a></td>
                    </tr>
            
                {% endfor %}
                </table>
                </table>
                <form action='' method="POST" enctype="multipart/form-data" novalidate>
                    {{form.hidden_tag()}}
                    {{form.submit()}}
                    </form>
                        </div>
                    </div>
                    </div>
            </div>





        </div>
        <div class="tab-pane fade " id="profile" role="tabpanel"
                aria-labelledby="profile-tab">
                {%for review in reviews%}
                {% if review['dish_id'] == dish['dish_id']%}
                    <div class="box">
                                
                                <p>{{review['username']}}</p>
                                <p>{{review['comment']}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}


        </div>
        
    </div>
</div>

</div>
<!-- [ Main Content ] end -->







  
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
