{% extends "layouts/base.html" %}
{% block content %}
    <form action='' method='POST' enctype="multipart/form-data" novalidate>
        {{form.hidden_tag()}}
        <br>
        {{form.profile_pic.label}}
        {{form.profile_pic()}}
        <span class="mb-0 text-muted">
            <span class="text-danger">
                {%for error in form.profile_pic.errors%}
                    {{error}}
                {%endfor%}
            </span>
        </span>    
        <br>
        {{form.submit()}}

    </form>

{%endblock%}