{% extends "layouts/base.html" %}
{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">

                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>




                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Break Timetable</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row"> 
                                            
                                            <div class="col-sm-12 mb-2">
                                                <div class="form-group">


                                                <!-- [ stiped-table ] start -->
                                                <div class="col-xl-12">
                                                    <div class="card">
                                                        <div class="card-block table-border-style">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th><b>Name</b></th>
                                                                            <th><b>Shift</b></th>
                                                                            <th><b>45 minute break</b></th>
                                                                            <th><b>30 minute break</b></th>
                                                                        </tr>
                                                                        {% for employee in staff%}
                                                                        {%for today in workingToday%}
                                                                            {% if today == employee['staff_id']%}
                                                                        <tr>
                                                                            <td>{{employee['first_name']}}</td>
                                                                            <td>{{workingToday[today][0]}}</td>
                                                                            <td>{{workingToday[today][2]}}:00</td>
                                                                            <td>{{workingToday[today][3]}}0</td>
                                                                        </tr>   
                                                                        {%endif%}                                                
                                                                        {%endfor%}

                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- [ stiped-table ] end -->   


                                            </div>  
                                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

{%endblock%}