{% extends "layouts/base.html" %}

{% block title %} Choose A Table {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--
<p><a href="{{ url_for('move_tables') }}" >Move Tables</a></p>
<p><a href="{{ url_for('add_table') }}" >Add Table</a></p>
<p><a href="{{ url_for('remove_table_menu') }}" >Remove Table</a></p>
-->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <h4>Choose A Table</h4>
                                <hr>
                                <section>
                                    {% for table_index in table_positions %}
                                        <div style="position:absolute;  left: {{ table_positions[table_index][0] }}; top: {{ table_positions[table_index][1] }}; width: 90px;">
                                            <a href="{{ url_for('take_order', table=table_index) }}">
                                                <section>
                                                    <img src="{{ url_for('static', filename='table.png' ) }}" style=" width: 90px;"/>
                                                    <p class="btn btn-square btn-info">Table {{ table_index }}</p>
                                                </section>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 