{% extends "layouts/base.html" %}

{% block title %} Choose A Table {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <h4>Choose A Table</h4>
                                <hr>
                                <section>
                                    {% for table_index in table_positions %}
                                        <div style="position:absolute;  left: {{ table_positions[table_index][0] }}; top: {{ table_positions[table_index][1] }}; width: 90px;">
                                
                                                <section>
                                                    {% if table_positions[table_index][2] == 'btn btn-outline-danger' %}
                                                    <div class="dropdown drp-user">
                                                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                                                            <img src="{{ url_for('static', filename='table.png' ) }}" style=" width: 90px;"/>
                                                            <div class="dropdown-menu">            
                                                                <ul class="pro-body">
                                                                    <li>Name: {{ table_positions[table_index][3] }}</li>
                                                                    <li>Time: {{ table_positions[table_index][4] }}.00
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    {% else %}
                                                        <a href="{{ url_for('take_order', table=table_index) }}">
                                                            <img src="{{ url_for('static', filename='table.png' ) }}" style=" width: 90px;"/>
                                                        </a>
                                                    {% endif %}
                                                    <a href="{{ url_for('take_order', table=table_index) }}">
                                                        <p class="{{ table_positions[table_index][2] }}">Table {{ table_index }}</p>
                                                    </a>
                                                </section>
                                        </div>
                                    {% endfor %}
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 