{% extends "layouts/base.html" %}

{% block title %} Choose Table {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--
<p><a href="{{ url_for('move_tables') }}" >Move Tables</a></p>
<p><a href="{{ url_for('add_table') }}" >Add Table</a></p>
<p><a href="{{ url_for('remove_table_menu') }}" >Remove Table</a></p>
-->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Choose Table</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    {% for table_index in table_positions %}
        <div style="position:absolute;  left: {{ table_positions[table_index][0] }}; top: {{ table_positions[table_index][1] }}; width: 90px;">
            
                <section>
                    {% if table_positions[table_index][2] == 'btn btn-square btn-danger' %}
                    <div class="dropdown drp-user">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ url_for('static', filename='table.png' ) }}" style=" width: 90px;"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <section class="pro-body">
                                <p class="dropdown-item" style="colour: black;">
                                    <i class="feather icon-user"></i>
                                    {{ table_positions[table_index][3] }}
                                </p>
                            </section>
                        </div>
                    </div>
                    {% else %}
                        <a href="{{ url_for('take_order', table=table_index) }}">
                            <img src="{{ url_for('static', filename='table.png' ) }}" style=" width: 90px;"/>
                        </a>
                    {% endif %}
                    <a href="{{ url_for('take_order', table=table_index) }}">
                        <p class="{{ table_positions[table_index][2] }}">Table {{ table_index }}</p>
                    </a>
                </section>
        </div>
    {% endfor %}
</section>
{% endblock content %} 