{% extends "layouts/base.html" %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="d-flex align-items-center justify-content-center flex-column">
                                            
                                            <div class="text-center">
                                                <h1 class="font-weight-bold h5">
                                                    Personal Profile
                                                </h1>
                                                <br />
                                                <h4 class="font-weight-bold h6">
                                                    {{ staff["first_name"] }} {{ staff["last_name"] }}
                                                </h4>
                                                <p class="font-italic text-muted">
                                                    {{ staff["email"] }}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="small font-weight-light mt-4 text-center text-muted">
                                            <p>
                                                <span class="font-weight-bold">Role</span> 
                                                <br />
                                                {{ staff["role"] }}
                                                <br />
                                                <br />
                                                <span class="font-weight-bold">Bio</span>
                                                <br />
                                                {{ staff["bio"] }}
                                                <br />
                                                <br />
                                                <span class="font-weight-bold">Address</span>
                                                <br />
                                                {{ staff["address"] }}
                                                <br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="d-flex align-items-center justify-content-center flex-column">
                                            <div class="text-center">
                                                <h1 class="font-weight-bold h5">
                                                    Update Profile
                                                </h1>
                                                <br>
                                            </div>
                                        </div>
                                <form action="" method="post" novalidate>
                                    <div class="row">
                                        {% if profile %}
                                        <div class="col-sm-12 mb-4">
                                            <div class="form-group">
                                                {{ form.hidden_tag() }}
                                                {{ form.email.label }}
                                                {{ form.email(value=profile['email'], class="form-control", placeholder="Email Address") }}
                                                <span class="mb-0 text-muted">
                                                    <span class="text-danger">
                                                        {% for error in form.email.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                            
                                        <div class="col-sm-6 mb-4">
                                            <div class="form-group">
                                                {{ form.first_name.label }}
                                                {{ form.first_name(value=profile['first_name'], class="form-control", placeholder="First Name") }}
                                                <span class="mb-0 text-muted">
                                                    <span class="text-danger">
                                                        {% for error in form.first_name.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>                      
                                        <div class="col-sm-6 mb-4">
                                            <div class="form-group">
                                                {{ form.last_name.label }}
                                                {{ form.last_name(value=profile['last_name'], class="form-control", placeholder="Last Name") }}
                                                
                                                <span class="mb-0 text-muted">
                                                    <span class="text-danger">
                                                    {% for error in form.last_name.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-12 mb-4">
                                            <div class="form-group">
                                                {{ form.address.label }}
                                                {{ form.address(value=profile['address'], class="form-control", placeholder="Address") }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mb-4">
                                            <div class="form-group">
                                                {{ form.bio.label }}
                                                <textarea name="bio" class="form-control", placeholder="Bio">{{ profile['bio'] }}</textarea>
                                            </div>
                                            <div class="col-sm-12 mb-2">
                                                <div class="form-group">
                                                    {{ form.submit(class="btn btn-primary") }}
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </form>
                            
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="flash">
                                        <div class="flash-blue">
                                        {% for message in messages %}
                                            <p> <b>{{ message }}</b> </p>
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

