{% extends "layouts/base.html" %}

{% block title %}  {{ title }} {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Roster Request</h5>
                                    </div>
                                    <div class="card-block">
                                        <form action="" method="post" novalidate>
                                            <div class="row">
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        {{ form.hidden_tag() }}
                                                        <span class="mb-0 text-muted">
                                                            <span class="text-danger">
                                                                {% for error in form.message.errors %}
                                                                    {{ error }}
                                                                {% endfor %}
                                                            </span>
                                                        </span>
                                                        {{ form.message.label }}
                                                        {{ form.message(class="form-control", placeholder="Write a request") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        {{ form.submit(value="Send", class="btn btn-primary") }}
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div>
                                            {% with messages = get_flashed_messages() %}
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <p> {{ message }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}