{% extends "base.html" %}


{% block main_content %}
    <h1>Staff Login</h1>
    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>    
    <form action="" method="post" novalidate> 
        {{ form.hidden_tag() }}
        {{ form.email.label }}
        {{ form.email(class="text") }}
        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.password.label }}
        {{ form.password(class="text") }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.submit(class="submit") }}
    </form>
{% endblock %}