{% extends "layouts/base.html" %}

{% block title %} Order {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script type="text/javascript">
    function popUpAppear() {
        document.getElementById('popup').style.display = 'inline'
    }

    function popUpCancel() {
        document.getElementById('popup').style.display = 'none'
    }
</script>
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        {% if ordering|length > 0 %}
                            <!-- [ Main Content ] start -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Ordering</h5>
                                            </div>
                                            
                                            <div class="card-body">
                                                <ul>
                                                    {% for meal in ordering %}
                                                        {% for i in range(ordering[meal]|length) %}
                                                            <li>
                                                                {{ meal }} - 
                                                                <a href="{{ url_for('remove_meal', table=table, meal=meal, index=i) }}">Remove</a>
                                                                {% if ordering[meal][i]|length > 0%}
                                                                    (
                                                                    {% for ingredient in ordering[meal][i] %}
                                                                            {% if ordering[meal][i][ingredient] != 1 %}
                                                                                {{ ingredient }}-{{ordering[meal][i][ingredient]}},
                                                                            {% endif %}
                                                                    {% endfor %}
                                                                    )
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                                <p><a onClick="popUpAppear()" href="#" class="btn btn-danger">Cancel Order</a> <a href="{{ url_for('complete_order',table=table) }}" class="btn btn-success" >Complete Order</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-12">
                                
                                <div class="card">
                                    {% if allocated == 0 %}
                                        <a  class="btn btn-outline-primary" href="{{ url_for('allocate_table',table=table) }}">Allocate Table</a>
                                    {% endif %}
                                    <div class="card-header">
                                        <h5>Menu</h5>
                                    </div>
                                    <div class="card-body">
                                        <h6>Starters</h6>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    {% for meal in meals %}
                                                        {% if meal['dishType'] == 'starter' %}
                                                            <tr>
                                                                <td>{{ meal['name'] }}</td>
                                                                <td>€{{ meal['cost'] }}0</td>
                                                                <td><a href="{{ url_for('add_order', table=table, meal=meal['name']) }}" class="btn btn-outline-info">Add</a></td>
                                                                <td><a href="{{ url_for('waiter_customize_dish', table=table, dish_id=meal['dish_id']) }}">Customize Ingredients</a></td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                        
                                        <h6>Mains</h6>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    {% for meal in meals %}
                                                        {% if meal['dishType'] == 'main' %}
                                                        <tr>
                                                            <td>{{ meal['name'] }}</td>
                                                            <td>€{{ meal['cost'] }}0</td>
                                                            <td><a href="{{ url_for('add_order', table=table, meal=meal['name']) }}" class="btn btn-outline-info">Add</a></td>
                                                            <td><a href="{{ url_for('waiter_customize_dish', table=table, dish_id=meal['dish_id']) }}">Customize Ingredients</a></td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                        
                                        <h6>Dessert</h6>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    {% for meal in meals %}
                                                        {% if meal['dishType'] == 'dessert' %}
                                                        <tr>
                                                            <td>{{ meal['name'] }}</td>
                                                            <td>€{{ meal['cost'] }}0</td>
                                                            <td><a href="{{ url_for('add_order', table=table, meal=meal['name']) }}" class="btn btn-outline-info">Add</a></td>
                                                            <td><a href="{{ url_for('waiter_customize_dish', table=table, dish_id=meal['dish_id']) }}">Customize Ingredients</a></td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if ordered|length > 0 %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Ordered </h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Status</th>
                                                        <th>Requests</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    {% for meal in ordered %}
                                                        <tr>
                                                            <td>{{ meal['name'] }}</td>
                                                            <td>{{ meal['status'] }}</td>
                                                            <td>{{ meal['notes'] }}</td>
                                                            <td>
                                                                    {% if 'Prioritise' not in meal['notes'] %}
                                                                        <a href="{{ url_for('prioritise', table=table, meal_id=meal['order_id']) }}" class="btn btn-outline-info">Prioritise</a> 
                                                                    {% endif %}
                                                            </td>
                                                            <td>
                                                                <a href="{{ url_for('cancel_meal', table=table, meal_id=meal['order_id']) }}" class="btn btn-outline-danger">Cancel</a> 
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                                <a href="{{ url_for('take_payment', table=table) }}" class="btn btn-outline-success">Take Payment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup" class="col-sm-4" style="position: absolute; top: 100px; left: 400px; display: none;">
    <div class="card" style=" border-radius:10px; box-shadow: 5px 10px 8px #888888;">
        <div class="card-header">
            <h4>Are you sure you want to delete?</h4>
        </div>
        <div class="card-body">
            <a onClick="popUpCancel()" href="#" class="btn btn-danger">No</a> <a href="{{ url_for('cancel_order', table=table) }}" class="btn btn-success" >Yes</a>
        </div>
    </div>
</div>

   
{% endblock content %} 