{% extends "layouts/base.html" %}

{% block title %}
    <title>Order</title>
{% endblock %}

{% block content %}
<h1>Order</h1>
<section>
    <p><a href="{{ url_for('choose_table') }}">Change Table</a></p>
    
    {% if ordering %}
        <p><a href="{{ url_for('cancel_order',table=table) }}">Cancel Order</a></p>
        <h2>Ordering</h2>
        
        <ul>
            {% for meal in ordering %}
                <li>{{ meal }} - <a href="{{ url_for('remove_meal', table=table, meal=meal) }}">Remove</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('complete_order', table=table) }}" >Complete Order</a>
    {% endif %}
</section>
<section>
    <h2>Menu</h2>
    <h3>Starters</h3>
    <ul>
        {% for meal in meals %}
            {% if meal['dishType'] == 'starter' %}
                <li>
                    <a href="{{ url_for('add_order', table=table, meal=meal['name']) }}">{{ meal['name'] }} - €{{ meal['cost'] }}:00</a>
                </li>
            {% endif %}
        {% endfor %} 
    </ul>
    <h3>Mains</h3>
    <ul>
        {% for meal in meals %}
            {% if meal['dishType'] == 'main' %}
                <li>
                    <a href="{{ url_for('add_order', table=table, meal=meal['name']) }}">{{ meal['name'] }} - €{{ meal['cost'] }}:00</a>
                </li>
            {% endif %}
        {% endfor %} 
    </ul>
    <h3>Dessert</h3>
    <ul>
        {% for meal in meals %}
            {% if meal['dishType'] == 'dessert' %}
                <li>
                    <a href="{{ url_for('add_order', table=table, meal=meal['name']) }}">{{ meal['name'] }} - €{{ meal['cost'] }}:00</a>
                </li>
            {% endif %}
        {% endfor %} 
    </ul>
</section>
<section>
    
    {% if ordered|length > 0 %}
        <h2>Ordered</h2>
        
        <ul>
            {% for meal in ordered %}
                <li>{{ meal['name'] }} - <a href="{{ url_for('cancel_meal', table=table, meal_id=meal['order_id']) }}">Cancel</a> - {{ meal['status'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
{% endblock content %} 