{% extends "layouts/base.html" %}

{% block title %} Order {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section>
    <!--<p><a href="{{ url_for('choose_table') }}">Change Table</a></p>-->
    {{ meals }}
    {{ ordered }}
    {% if ordering|length > 0 %}
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Ordering</h5>
                            </div>
                            
                            <div class="card-body">
                                <p><a href="{{ url_for('cancel_order',table=table) }}" class="btn btn-danger">Cancel Order</a></p>
                                <ul>
                                    {% for meal in ordering %}
                                        {% for i in range(ordering[meal]|length) %}
                                            <li>
                                                {{ meal }} - 
                                                <a href="{{ url_for('remove_meal', table=table, meal=meal, index=i) }}">Remove</a>
                                                {% if ordering[meal][i]|length > 0%}
                                                    (
                                                    {% for ingredient in ordering[meal][i] %}
                                                            {% if ordering[meal][i][ingredient] != 1 %}
                                                                {{ ingredient }}-{{ordering[meal][i][ingredient]}},
                                                            {% endif %}
                                                    {% endfor %}
                                                    )
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                                <p><a href="{{ url_for('complete_order', table=table) }}" class="btn btn-success" >Complete Order</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endif %}
</section>
<section>
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Menu</h5>
                        </div>
                        <div class="card-body">
                            <h6>Starters</h6>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        {% for meal in meals %}
                                            {% if meal[5] == 'starter' %}
                                                <tr>
                                                    <td><a href="{{ url_for('add_order', table=table, meal=meal[1]) }}">{{ meal[1] }}</a></td>
                                                    <td><a href="{{ url_for('add_order', table=table, meal=meal[1]) }}">€{{ meal[2] }}:00</a></td>
                                                    <td><a href="{{ url_for('waiter_customize_dish', table=table, dish_id=meal[0]) }}">Customize Ingredients</a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            
                            <h6>Mains</h6>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        {% for meal in meals %}
                                            {% if meal[5] == 'main' %}
                                                <tr>
                                                    <td><a href="{{ url_for('add_order', table=table, meal=meal[1]) }}">{{ meal[1] }}</a></td>
                                                    <td><a href="{{ url_for('add_order', table=table, meal=meal[1]) }}">€{{ meal[2] }}:00</a></td>
                                                    <td><a href="{{ url_for('waiter_customize_dish', table=table, dish_id=meal[0]) }}">Customize Ingredients</a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                             
                            <h6>Dessert</h6>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        {% for meal in meals %}
                                            {% if meal[5] == 'dessert' %}
                                                <tr>
                                                    <td><a href="{{ url_for('add_order', table=table, meal=meal[1]) }}">{{ meal[1] }}</a></td>
                                                    <td><a href="{{ url_for('add_order', table=table, meal=meal[1]) }}">€{{ meal[2] }}:00</a></td>
                                                    <td><a href="{{ url_for('waiter_customize_dish', table=table, dish_id=meal[0]) }}">Customize Ingredients</a></td>
                                                    
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    {% if ordered|length > 0 %}
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Ordered</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Requests</th>
                                            <th></th>
                                        </tr>
                                        {% for meal in ordered %}
                                            <tr>
                                                <td>{{ meal[0] }}</td>
                                                <td>{{ meal[1] }}</td>
                                                <td>{{ meal[4] }}</td>
                                                <td><a href="{{ url_for('cancel_meal', table=table, meal_id=meal[2]) }}" class="btn btn-outline-danger">Cancel</a></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>
{% endblock content %} 