{% extends "layouts/base.html" %}

{% block title %} Waiter Menu {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!--
    <p><a href="{{ url_for('generate_roster') }}">Generate Roster</a></p>
    <p><a href="{{ url_for('delete_from_roster') }}">Delete From Roster</a></p>
    <p><a href="{{ url_for('add_to_roster_timetable') }}">Add Slot to Roster</a></p>
-->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5><a href="{{ url_for('choose_table') }}">Take Order</a></h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5><a href="{{ url_for('roster_timetable') }}">Roster</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 
