<nav class="pcoded-navbar navbar-collapsed">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{{url_for('choose_table') }}" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Michelin Star</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Customer Orders</label>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('choose_table') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-edit-1"></i></span><span class="pcoded-mtext">Take Order</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('kitchen') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-star"></i></span><span class="pcoded-mtext">Kitchen View</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('move_tables') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-move"></i></span><span class="pcoded-mtext">Move Table</span>
                    </a>
                </li>
                
                <li class="nav-item pcoded-menu-caption">
                    <label>Your Shifts</label>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span
                            class="pcoded-mtext">Roster</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="{{ url_for('roster_timetable') }}">View Roster Timetable</a></li>
                        <li><a href="{{ url_for('breakTimes') }}">View Break Timetable</a></li>
                        <li><a href="{{ url_for('roster_request') }}">Submit Roster Request</a></li>
                    </ul>
                </li>
                
                <li class="nav-item pcoded-menu-caption">
                    <label>Account & Settings</label>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('edit_staff_profile') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile Page</span></a>
                </li>
                
                <li class="nav-item">
                    <a href="{{ url_for('change_password', table='staff') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Change Password</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>