{% extends 'base.html'%}
{% block main_content %}
{% if dishes is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in dishes%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('dish', dish_id=dish['dish_id'])}}">Go to dish</a></td>
                <td><a href="{{url_for('add_default_meal', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    <h2>Starter</h2>
    {% if starter is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in starter%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}
    <h2>Main Courses</h2>
    {% if mainCourse is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in mainCourse%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}
    <h2>Dessert</h2>
    {% if dessert is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in dessert%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}
    <h2>Sides</h2>
    {% if side is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in side%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}
    <h2>Drinks</h2>
    {% if drink is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in drink%}
            <tr>
                <td><img src="{{url_for('static',filename=dish['dishPic'])}}" class='imgbro'></td>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}

    
    </table>
    {%endif%}

    {%endif%}



{%endblock%}