{% extends 'base.html' %}
{% block content %}

<table>
    <tr>
        <th>Dish</th>
        <th>Time Ordered</th>
        <th>Cook Time</th>
        <th>Table No.</th>
        <th>Notes</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {%for line in orderlist%}
    {%if line.status!="sent out"%}
    <tr>
        <td>
            {{line.name}}
        </td>
        <td>
            {{line.time}}
        </td>
        <td>
            {{line.cook_time}}
        </td>
        <td>
            {{line.tableNo}}
        </td>
        <td>
            {%if line.notes%}
            {{line.notes}}
            {%endif%}
        </td>
        <td>
            {{line.status}}
        </td>
        <td>
            {%if line.status=="unmade"%}

            <a href="{{ url_for('kitchenUpdate', dish_id=line.dish_id, time=line.time) }}">Set to ongoing</a>

            {%elif line.status=="ongoing"%}
            <a href="{{ url_for('kitchenSentOut', dish_id=line.dish_id, time=line.time) }}">Send Out</a>
            {%endif%}
        </td>
    </tr>
    {%endif%}
    {%endfor%}
</table>

{%endblock%}