{% extends "base.html" %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block main_content %}
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    
    {{ form.first_name.label }}
    {{ form.first_name() }}
    {% for error in form.first_name.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    {{ form.surname.label }}
    {{ form.surname() }}
    {% for error in form.surname.errors %}
        {{ error }}
    {% endfor %}
    <br/>

    {{ form.password.label }}
    {{ form.password() }}
    {% for error in form.password.errors %}
        {{ error }}
    {% endfor %}
    <br>
    {{ form.confirm.label }}
    {{ form.confirm() }}
    {% for error in form.confirm.errors %}
        {{ error }}
    {% endfor %}
    <br/>
    
    {{ form.submit() }}

</form>

{% endblock %}