{% extends "base.html" %}

{% block title %}
    <title>Order</title>
{% endblock %}

{% block main_content %}
<h1>Order</h1>
<section>
    <p><a href="{{ url_for('choose_table') }}">Change Table</a></p>
    
    {% if ordering %}
        <p><a href="{{ url_for('cancel_order',table=table) }}">Cancel Order</a></p>
        <h2>Ordering</h2>
        
        <ul>
            {% for meal in ordering %}
                <li>{{ meal }} - <a href="{{ url_for('remove_meal', table=table, meal=meal) }}">Remove</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('complete_order', table=table) }}" >Complete Order</a>
    {% endif %}
</section>
<section>
    <h2>Menu</h2>
    <ul>
        {% for meal in meals %}
        <li>
            <a href="{{ url_for('add_order', table=table, meal=meal[1]) }}">{{ meal[1] }} - €{{ meal[2] }}:00</a>
        </li>
        {% endfor %}
        
    </ul>
</section>
<section>
    
    {% if ordered|length > 0 %}
        <h2>Ordered</h2>
        
        <ul>
            {% for meal in ordered %}
                <li>{{ meal[0] }} - <a href="{{ url_for('cancel_meal', table=table, meal_id=meal[2]) }}">Cancel</a> - {{ meal[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
{% endblock %} 