{% extends "layouts/base.html" %}

{% block title %}
    <title>Timetable</title>
{% endblock %}

{% block content %}
    <h1>Make your Timetable for {{ details[0]["place"] }} ({{ details[0]["start_date"] }} - {{ details[0]["end_date"] }})</h1>
    <h2>Make a new Booking</h2>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        {{ form.activity.label }}
        {{ form.activity() }}
        {% for error in form.activity.errors %}
            {{ error }}
        {% endfor %}
        <br/><br/>
        {{ form.date.label }}: YYYY-MM-DD
        {{ form.date() }}
        {% for error in form.date.errors %}
            {{ error }}
        {% endfor %}
        <br/><br/>

        {{ form.time.label }}
        {{ form.time() }}
        {% for error in form.time.errors %}
            {{ error }}
        {% endfor %}
        <br/><br/>

        {{ form.submit.label }}
        {{ form.submit() }}
    </form>


    <h2>Current Timetable</h2>
    <table>
        <tr>
            <th scope="col"></th>
            {% for j in range(10) %}
            <th scope="col">{{j + 9}}:00</th>
            {% endfor %}
        </tr>
        {% for day in range(details[0]["nights"]) %}
        <tr>
            <th scope="row">{{ details[0]["start_date"] + timedelta(days=day)}}</th>
            {% for i in range(10) %}
            <td>
                {% for activity in timetable %}
                    {% if activity["date"] ==  details[0]["start_date"] + timedelta(days=day) %}
                        {% if activity["time"] == str(i+9)+":00" %}
                            {{ activity["activity"] }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>


{% endblock content %}
